.DS_Store
.config/tmux/plugins/
.config/raycast
.config/raycast
.config/github-copilot
.config/op
.config/vesktop/sessionData
.config/vesktop/Crashpad
.config/vesktop/SingletonLock
.config/vesktop/SingletonCookie
.config/vesktop/SingletonSocket
