.DS_Store
./shared/.config/spicetify/
./macos/.config/raycast/
.config/github-copilot
.config/op
.config/shared/vesktop/sessionData
.config/shared/vesktop/Crashpad
.config/shared/vesktop/SingletonLock
.config/shared/vesktop/SingletonCookie
.config/shared/vesktop/SingletonSocket
